/*
Change the font
Displays: try to find a calculator font on google
Console: make right justified, fix spacing issues
Round the edges of the calculator
Make the buttons look more 3D
Change the color of the buttons a little bit
*/


.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.calculator-container {
    width: 300px;
    height: 400px;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 12px;
}

.display,
.console {
    width: 280px;
    border: 2px solid red;
    justify-content: flex-end;
    margin-top: 16px;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
}

.display {
    height: 48px;
}

.console {
    height: 72px;
}

.buttons {
    margin: 4px;
}

.button-row {
    display: flex;
    justify-content: stretch;
}

.button {
    height: 36px;
    width: 36px;
    margin: 4px;
}

.zero,
.equals {
    flex: 2;
}