body {
    background-color: rgb(201, 192, 192);
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.calculator-container {
    width: 400px;
    height: 530px;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgb(95, 3, 95);
    margin-top: 60px;
}

.display,
.console {
    width: 360px;
    border-radius: 4px;
    background-color: azure;
    justify-content: flex-end;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    box-sizing: border-box;
}

.display {
    height: 56px;
    margin: 8px 4px 0px 4px;
    font-size: 24px;
}

.console {
    height: 100px;
}

.console-line {
    font-size: 12px;
}

.buttons {
    margin: 8px 0px 0px 0px;
}

.button-row {
    display: flex;
    justify-content: stretch;
    width: 360px;
    height: 50px;
    margin: 2px 0px 2px 0px;
}

.button {
    /*
    height: 42px;
    width: 42px;
    */
    flex: 1 1 32px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 24px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 4px;
}

.button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.backspace,
.clear {
    flex: 1;
    background-color: rgb(255, 228, 196);
}

.zero,
.equals {
    flex: 2.7 1 32px;
}

.equals {
    background-color: rgb(160, 16, 160);
    color: white;
    margin-bottom: 0px;
}

.operator {
    background-color: rgb(243, 145, 145);
}

.number {
    background-color: rgb(154, 240, 240);
}